@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

@layer base {
    :root {
        --background: #eeeeee;
        --foreground: #333333;

        --primary: #40a578;
        --primary-foreground: #eeeeee;

        --secondary: #006769;
        --secondary-foreground: #eeeeee;

        --radius: 0.5rem;
    }

    .dark {
        --background: #eeeeee;
        --foreground: #333333;

        --primary: #40a578;
        --primary-foreground: #eeeeee;

        --secondary: #006769;
        --secondary-foreground: #eeeeee;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply select-none;
    }
    body {
        @apply bg-background text-foreground;
    }
}
