@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

@layer base {
    :root {
        --background: 0 0 93;
        --foreground: 0 0 20;

        --primary: 153 44 45;
        --primary-foreground: 0 0 93;

        --secondary: 181 100 21;
        --secondary-foreground: 0 0 93;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0 93;
        --foreground: 0 0 20;

        --primary: 153 44 45;
        --primary-foreground: 0 0 93;

        --secondary: 181 100 21;
        --secondary-foreground: 0 0 93;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply select-none text-foreground;
    }
    body {
        @apply bg-background;
    }
}
